<section>
  <div class='card mb-3' style='max-width: 25rem;'>
    <div class='row g-0'>
      <div class='col-md-4'>
        <img src='...' class='img-fluid rounded-start' alt='title' />
      </div>
      <div class='col-md-8 mb-2'>
        <div class='card-body'>
          <h5 class='card-title'>title</h5>
          <h6 class='card-text'>author</h6>
          <form class='' method='post' action='/'>
            <a class='btn btn-info card-text float-start'>Edit</a>
            <button
              type='submit'
              onclick='confirm(Are you sure you want to delete this book?)'
              class='btn btn-danger float-end'
            >Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>