<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='assets/css/style.css' />
    <title>{{pageTitle}}</title>
  </head>

  <body>
    <header></header>
    <div class='container mt-l'>
      {{{body}}}
    </div>
    <footer class='border-top footer text-muted mb-2'>
      <div class='col-12 gitHub'>
        <h6 class='text-center'>
          Made with ❤️ by
          <i class='bi bi-github'></i>
          <a
            class='text-decoration-none'
            href='https://github.com/LopezAG17'
            target='_blank'
          >@LopezAG17</a>
        </h6>
      </div>
    </footer>
  </body>

</html>